<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmr.facultyfeedback.ankisami.cmrfacultyfeedback">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Branch" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".YearActivity" />
        <activity android:name=".Section" />
        <activity android:name=".Fourthyearsubjects" />
        <activity android:name=".Thirdyearsubjects" />
        <activity android:name=".Secondyearsubjects" />
        <activity android:name=".Firstyearsubjects" />
        <activity android:name=".Rating" />
        <activity android:name=".LabRating" />
        <activity android:name=".Conclusion" />
        <activity android:name=".Seminar" />
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".Select" />
        <activity android:name=".Details" />
        <activity android:name=".SemiShow" />
        <activity android:name=".Report" />
        <activity android:name=".Firstyearreport" />
        <activity android:name=".Thirdyearreport" />
        <activity android:name=".Secondyearreport" />
        <activity android:name=".Graph" />
        <activity
            android:name=".StartingActivity"
            android:label="@string/title_activity_starting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Help"
            android:parentActivityName=".StartingActivity" />
        <activity
            android:name=".College"
            android:label="@string/title_activity_college"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Rate"
            android:label="@string/title_activity_rate"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>